.wrapper {
  height: 85vh;
  margin-top: 7vh;
  color: #63492d;
}

.main-session {
  padding: 0 5vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.info-avatar {
  min-width: 10vmax;
  min-height: 10vmax;
  width: 15vmax;
  height: 15vmax;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px 0px #ccc;
}
.description {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 40vmin;
  height: 40vh;
}
.description-header {
  line-height: 2.5rem;
}
.social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10vh;
}
.social-icons__link {
  font-size: 30px;
  color: #63492d;
}
.social-icons__link:hover {
  color: #63492da4;
  transform: scale(1.2);
}
